#write-blog {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 1rem;
}

#blog-title,
#blog-content,
#media-upload,
#post-button {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
}

#blog-title,
#blog-content {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5rem;
  font-family: "Roboto", sans-serif;
}

#blog-content {
  min-height: 200px;
  resize: vertical;
}

#post-button {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#post-button:hover {
  background-color: #2980b9;
}

#media-upload {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  #write-blog {
    padding: 2rem;
  }
}
